name: ai_studio
description: "AI Creative Studio - Flutter project with Riverpod MVVM architecture"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.10.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  flutter_riverpod: ^3.2.0
  google_fonts: ^6.1.0
  shared_preferences: ^2.1.1
  lottie: ^2.4.2
  flutter_spinkit: ^5.2.2
  http: ^1.6.0
  socket_io_client: ^3.1.4
  flutter_screenutil: ^5.9.0



dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
